.sidebar-heading {
  color: red;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}
li {
  list-style: square;
  list-style-position: inside;
  color: red;
}
@media only screen and (min-width:1200px){
  .sidebar-heading {
    font-size: 21px;
  }
}
.sidebar-list {
  padding: 30px 0px;
  margin-bottom: 40px;
}
.bullet {
  position: relative;
  padding: 15px 15px 15px 15px;
  color: red;
  font-style: none;
  border-top: 1px solid #e5e5e5;
}
.bullet:first-child {
  border-top: 0;
}
.bullet a {
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.see-all {
  display: block;
  text-align: center;
}
.see-all-headlines {
  background-color: #e5e5e5;
  color: #747474;
  font-size: 16px;
  line-height: 50px;
  display: block;
  text-align: center;
  width: 100%;
}
/* sidebar small screen */

@media only screen and (max-width: 992px){
  .sidebar {
    border-top: 1px solid #e5e5e5;
    background-color: #f7f7f7;
  }
}
.sidebar-title {
  text-align: center;
  font-size: 21px;
}
.bullet {
  text-align: center;
}
.see-all-headlines {
  width: 100%;
  text-align: center;
  display: block;
}